// $primary-color: #ffc300;
// $accent-color: #f40;
// $background-color: #fff3cc;
// $footer-color: #343434;
// $contrast-color: #00ffc3;
// $text-color: #331900;
// $developer-color: #ff8787;

$primary-color: #569e92;
$accent-color: #d57751;
$background-color: #f3ecf4;
$lighter-background: #f9f9f9;
$contact-text: #f9f9f9;
$footer-color: #36374c;
$developer-color: #ff8787;
$peace-color: #fff;
$love-color: #f00;
$contrast-color: #00ffc3;
$text-color: #111;
$border-color: rgba(34, 34, 34, .05);
$box-shadow-color: rgba(0, 0, 0, .9);
$text-shadow-color: rgba(0, 0, 0, .1);
