// $primary-color: #ffc300;
// $accent-color: #f40;
// $background-color: #fff3cc;
// $lighter-background: #f9f9f9;
// $contact-text: #f9f9f9;
// $footer-color: #343434;
// $developer-color: #ff8787;
// $peace-color: #fff;
// $love-color: #f00;
// $contrast-color: #00ffc3;
// $text-color: #331900;
// $border-color: rgba(34, 34, 34, .05);
// $box-shadow-color: rgba(0, 0, 0, .9);
// $text-shadow-color: rgba(0, 0, 0, .1);

$primary-color: #75b2a0;
$accent-color: #de884f;
$background-color: #f3ecf4;
$lighter-background: #f9f9f9;
$contact-text: #f9f9f9;
$footer-color: #36374c;
$developer-color: #ff8787;
$peace-color: #fff;
$love-color: #f00;
$contrast-color: #00ffc3;
$text-color: #111;
$border-color: rgba(34, 34, 34, .05);
$box-shadow-color: rgba(0, 0, 0, .9);
$text-shadow-color: rgba(0, 0, 0, .1);

$header-image: url('../img/purple_bee.jpg');
